<table id="faultdetailsgrid" class="table table-bordered">
    <thead>
        <tr>
            <th>Column1</th>
            <th>Column2</th>
            <th>Column3</th>
            <th>Column4</th>
            <th>Column5</th>
            <th>Column6</th>
        </tr>
    </thead>    
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#faultdetailsgrid").DataTable();
    });
</script>
