
@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>

<div class="row form-group">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-default" id="btncustomer">Add Customer</button>
    </div>
</div>

<div id="dvpopup" class="modal fade" role="dialog"></div>


<table id="customergrid" class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            @*<th>Update/View</th>
            <th>Delete</th>*@
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#customergrid").DataTable({
            ajax: {
                url: '@Url.Action("GetCustomerList","Customer")',
                type:'GET'
            },
            columns: [
                { "data": "Name" },
                { "data": "Phone" },
                { "data": "Email" }
            ]
        });

        $("#btncustomer").click(function () {
            $.ajax({
                url: '@Url.Action("AddCustomerView","Customer")',
                type: 'GET',
                cache: false,
                success: function (htmlResponse) {
                    $("#dvpopup").empty();
                    $("#dvpopup").html(htmlResponse);
                    $("#dvpopup").modal({
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert("Error occured while adding customer.");
                }
            });
        });
    });
</script>

