
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>

<div class="row form-group">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-default" id="btnadduser">Add User</button>
    </div>
</div>

<div id="dvpopup" role="dialog" class="modal fade"></div>

<table id="usergrid" class="table table-bordered">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Role</th>
            <th>Manager</th>
            @*<th>Update/View</th>
            <th>Delete</th>*@                  
        </tr>
    </thead>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#usergrid").DataTable({
             ajax: {
                url: '@Url.Action("GetUserList","User")',
                type:'GET'
            },
            columns: [
                { "data": "UserID" },
                { "data": "RoleDescription" },
                { "data": "ManagerName" }
            ]
        });

        $("#btnadduser").click(function () {
            $.ajax({
                url: '@Url.Action("AddUpdateUserView","User")',
                type: 'GET',
                success: function (htmlResponse) {
                    $("#dvpopup").empty();
                    $("#dvpopup").html(htmlResponse);
                    $("#dvpopup").modal({
                        show: true,
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert("Error occured while saving customer.");
                }
            });
        });
    });
</script>